feedparser==5.2.1
flask==1.0
flask-script==2.0.5
flask-sqlalchemy==2.1
flask-migrate==2.0.0
Flask-SSLify==0.1.5
flask-cors==3.0.9
Jinja2==2.11.3
Werkzeug==2.2.3
gunicorn
requests==2.20.0
unidecode==0.04.19
numpy==1.22.0
scipy==0.18.1
bs4==0.0.1
beautifulsoup4==4.4.1
lxml==4.9.1
scikit-learn==0.17.1
