.filter {
  background: #333;
  visibility: hidden;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  width: 267px;
  top: 50px;
  z-index: 1500;

  transition: opacity 0.5s;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  button {
    background: #0099d3;
    border-radius: 0;
    border: 0px none;
    color: #fff;
    font-family: Lato, sans-serif;
    margin-top: 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 7px 5px;
    width: 100px;
    text-transform: uppercase;

    &:hover {
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    }
  }
}

.color-type-hd {
  margin-top: 30px;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-slider .ui-slider-range {
  background: #fff;
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.ui-slider-horizontal .ui-slider-handle {
  border-radius: 0px;
  top: -6px;
  margin-left: -.6em;
  height: 15px;
  width: 15px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 0px none;
  border-radius: 15px;
  background: #e6e6e6;
  font-weight: normal;
  color: #555555;
  outline: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #fff;
  font-weight: normal;
  color: #212121;
}

#year-label {
  // font-weight: bold;
  font-size: 10px;
  height: 16px;
  margin-left: 5px;
  width: 150px;
  text-align: center;
}

.year-range {
  margin-top: 30px;
}

#year-range {
  padding: 18px 20px 0 20px;
  width: 150px;
}
#year-range-slider {
  background: #aaa;
  border: 0px none;
  height: 2px;
  margin-top: 5px;
}
