#header {
  background: rgba(52, 54, 59, 0.7);

  display: flex;
  flex-direction: row,;
  justify-content: space-around;

  height: 50px;
  position: relative;
  z-index: 5;
  width: 100%;
}


#logo {
  background: #0099d3;
  color: #fff;
  display: block;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

#search {
  height: 50px;
  flex-grow: 1;

  .article-search {
    background: transparent url(../img/search.svg) no-repeat 5px 7px;
    background-size: 37px;
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.3rem;
    height: 50px;
    outline: none;
    padding: 0px 23px 0px 45px;
    width: 100%;
  }
}

.ui-widget-header {
  background: #ccc;
  border: 0px none !important;
}

#filter-button {
  background: transparent url(../img/filter.svg) no-repeat center;
  background-size: 40px 40px;
  cursor: pointer;

  &:hover {
    background: transparent url(../img/filter-white.svg) no-repeat center;
    background-size: 40px 40px;
  }

  height: 50px;
  width: 50px;
}

#compare-button {
  background: transparent url(../img/paper-compare.png) no-repeat center;
  background-size: 35px 35px;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  height: 50px;
  width: 50px;
}

#recommended-button {
  background: transparent url(../img/person.svg) no-repeat center;
  background-size: 40px 40px;
  cursor: pointer;

  &:hover {
    background: transparent url(../img/person-white.svg) no-repeat center;
    background-size: 40px 40px;
  }

  height: 50px;
  width: 50px;
}