@import "core";
@import "header";
@import "compare";
@import "article";

#header {
    display: block;
}
#about-text {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 20px;

    p {
        margin: 20px 0;
    }

    a {
        color: #fff;
    }
}